<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-5 col-md-7 col-12">
          <div class="qr-container">
            <img src="assets/images/donation-qr.jpeg" alt="Donation QR Code" />
          </div>
        </div>
        <div class="col-lg-7 col-md-5 col-12">
          <div class="pt-3 pt-md-0 qr-description mx-auto mx-md-0">
            <h3>Account Details</h3>
            <div class="account-details">
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>NAME:</b></div>
                <div class="col-8 col-md-9">
                  SHRI PREMDAS BAPA GODADIYA RAMWADI ASRAM KARJAN
                </div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>A/C.:</b></div>
                <div class="col-8 col-md-9">02110100001309</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>IFCS CODE:</b></div>
                <div class="col-8 col-md-9">BARBOKARJAN</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>BRANCH:</b></div>
                <div class="col-8 col-md-9">BANK OF BARODA - KARJAN</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>vpa:</b></div>
                <div class="col-8 col-md-9">shrip92282&#64;barodampay</div>
              </div>
              <div class="row pt-3">
                <div class="col-12">
                  <small class="text-danger"
                    >The amount of donation is eligible for deduction of income
                    tax under 80G. AABTS8830RF20241</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="pt-3 qr-description mx-auto mx-md-0">
            <h3>Support Our Divine Mission</h3>
            <div class="donate-us-description">
              At Shree Premdasbapa Godadiya Ashram – Ramwadi, Karjan, your
              generous donations help us carry forward a sacred mission rooted
              in faith, service, and community upliftment. With your support, we
              organize spiritual activities like Sundarkand Path, Hanumanji and
              Mahadev Pujas, and grand Kathas by revered speakers; care for cows
              in our Gaushala with devotion; conduct free food distribution
              (Sadavrat) thrice a week; and actively engage in temple and ashram
              development. We also encourage spiritual values in the younger
              generation by inviting students from various schools to
              participate in devotional singing and speeches, rewarding them and
              offering prasad. <br/><br/>Every Hindu festival—from Ram Navami and
              Janmashtami to Hanuman Jayanti, Guru Purnima, Purnima events, and
              Shravan Sundays—is celebrated with Annadan and Bhandara. Each
              rupee you offer becomes a part of this divine cycle of devotion,
              dharma, and seva.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
