<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-5 col-md-7 col-12">
          <div class="qr-container">
            <img src="assets/images/donation-qr.jpeg" alt="Donation QR Code" />
          </div>
        </div>
        <div class="col-lg-7 col-md-5 col-12">
          <div class="pt-3 pt-md-0 qr-description mx-auto mx-md-0">
            <h1>Account Details</h1>
            <div class="account-details">
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>NAME:</b></div>
                <div class="col-8 col-md-9">SHRI PREMDAS BAPA GODADIYA RAMWADI ASRAM KARJAN</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>A/C.:</b></div>
                <div class="col-8 col-md-9">02110100001309</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>IFCS CODE:</b></div>
                <div class="col-8 col-md-9">BARBOKARJAN</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>BRANCH:</b></div>
                <div class="col-8 col-md-9">BANK OF BARODA - KARJAN</div>
              </div>
              <div class="row pt-3 pt-md-0">
                <div class="col-4 col-md-3"><b>vpa:</b></div>
                <div class="col-8 col-md-9">shrip92282@barodampay</div>
              </div>
              <div class="row pt-3">
                <div class="col-12">
                  <small class="text-danger">The amount of donation is eligible for deduction of income tax under 80G. AABTS8830RF20241</small>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-3 qr-description mx-auto mx-md-0">
            <h1>Why Donate Us?</h1>
            <div class="donate-us-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
