.qr-container img {
  border: 10px solid #2d3191;
  width: 100%;
}

.qr-container {
  width: 80%;
  height: auto;
  border: 15px solid #f08321;
  margin: auto;
}

.account-details {
  color: #2d3191;
  font-family: 'Karla Regular';
}

.donate-us-description {
  font-family: 'Roboto Regular', sans-serif;
}

@media (max-width: 767px) {
  .qr-description {
    width: 80%;
  }

  .account-details,
  .donate-us-description {
    font-size: 14px;
  }
}
