<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-5 col-md-7 col-12">
          <div class="qr-container">
            <img src="assets/images/donation-qr.jpeg" alt="Donation QR Code" />
          </div>
        </div>
        <div class="col-lg-7 col-md-5 col-12">
          <div class="pt-3 pt-md-0 qr-description mx-auto mx-md-0">
            <h4>{{ 'donation.acc_details_header' | translate }}</h4>
            <div class="account-details">
              <div class="row">
                <div class="col-4 col-md-3">
                  <b>{{ 'donation.name' | translate }}:</b>
                </div>
                <div class="col-8 col-md-9">
                  {{ 'donation.name_value' | translate }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-md-3">
                  <b>{{ 'donation.AC' | translate }}:</b>
                </div>
                <div class="col-8 col-md-9">
                  {{ 'donation.AC_value' | translate }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-md-3">
                  <b>{{ 'donation.IFCS_CODE' | translate }}:</b>
                </div>
                <div class="col-8 col-md-9">
                  {{ 'donation.IFCS_CODE_value' | translate }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-md-3">
                  <b>{{ 'donation.BRANCH' | translate }}:</b>
                </div>
                <div class="col-8 col-md-9">
                  {{ 'donation.BRANCH_value' | translate }}
                </div>
              </div>
              <div class="row">
                <div class="col-4 col-md-3">
                  <b>{{ 'donation.vpa' | translate }}:</b>
                </div>
                <div class="col-8 col-md-9">
                  {{ 'donation.vpa_value' | translate }}
                </div>
              </div>
              <div class="row pt-3">
                <div class="col-12">
                  <small class="text-danger">
                    <b>{{ 'donation.80G_msg' | translate }}</b>
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-3 qr-description mx-auto mx-md-0">
            <h4>{{ 'donation.support_us_header' | translate }}</h4>
            <div class="donate-us-description">
              {{ 'donation.support_us_para1' | translate }}
              <br />
              <br />
              {{ 'donation.support_us_para2' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
