<div class="header-box">
    <div class="col-7 col-md-3">
        <div class="logo">
            <a class="d-inline-block h-100 mw-100" routerLink="/">
                <img src="assets/images/logo.png" alt="SitaRam">
            </a>
        </div>
    </div>
    <div class="col-md-7 d-none d-md-block">
        <ul class="navigation-menu">
            <li>
                <a routerLink="/" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}"> 
                    Home 
                </a>
            </li>
            <li>
                <a routerLink="/gallary" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}"> 
                    Gallary 
                </a>
            </li>
            <li>
                <a routerLink="/events" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}"> 
                    Events 
                </a>
            </li>
            <li>
                <a routerLink="/about" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}"> 
                    About 
                </a>
            </li>
            <li>
                <a routerLink="/contact" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact: true}"> 
                    Contact 
                </a>
            </li>
            <!-- <li class="dropdown">
                <button class="dropdown-toggle more" type="button" id="dropdownMenuMoreButton" 
                data-bs-toggle="dropdown" aria-expanded="false">
                    More
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuMoreButton">
                    <li><a class="dropdown-item" href="#"> Action </a></li>
                    <li><a class="dropdown-item" href="#"> Another action </a></li>
                    <li><a class="dropdown-item" href="#"> Something else here </a></li>
                </ul>
            </li>
            <li><a routerLink="/login"> Login </a></li>
            <li class="dropdown">
                <button class="dropdown-toggle profile" type="button" id="dropdownMenuLogOutButton" 
                data-bs-toggle="dropdown" aria-expanded="false">
                    User
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLogOutButton">
                    <li><a class="dropdown-item" href="#"> Profile </a></li>
                    <li><a class="dropdown-item" href="#"> Logout </a></li>
                </ul>
            </li> -->
        </ul>
    </div>
    <div class="col-5 col-md-2">
        <div class="right-side-menu">
            <div class="dropdown">
                <button class="dropdown-toggle menu-bar-container d-md-none" type="button" 
                id="dropdownMobileMenuButton" title="Menu" 
                data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMobileMenuButton">
                    <li>
                        <a class="dropdown-item" routerLink="/"> 
                            Home 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/gallary"> 
                            Gallary 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/events"> 
                            Gallary 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/about"> 
                            About 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/contact"> 
                            Contact 
                        </a>
                    </li>
                    <!-- <li><a class="dropdown-item" routerLink="/"> More </a></li>
                    <li><a class="dropdown-item" routerLink="/login"> Login </a></li>
                    <ng-container>
                        <li><a class="dropdown-item" routerLink="/"> Profile </a></li>
                        <li><a class="dropdown-item" routerLink="/"> Logout </a></li>
                    </ng-container> -->
                </ul>
            </div>
            <div class="language-container">
                <select name="language" id="language" class="language-dropdown"
                    [title]="'language' | translate"
                    [(ngModel)]="selectedLanguage"
                    (change)="changeLanguage($event)"
                >
                    <option *ngFor="let language of appLanguages" [value]="language.code"> 
                        {{ language.title }} 
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>