.header-box {
    display: flex;
}

.logo {
    padding: 1rem;
}

.logo img {
    width: 150px;
}

.navigation-menu {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation-menu > li {
    display: inline-block;
    padding: 5px 10px;
    font-family: 'Roboto Medium', sans-serif;
    font-size: 17px;
    color: #696969;
    cursor: pointer;
}

.navigation-menu > li:hover {
    color: #E97000;
}

.language-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-container .language-dropdown {
    max-width: 100%;
    padding: 5px 10px;
    font-family: 'Roboto Medium', sans-serif;
    color: #696969;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #696969;
    border-radius: 5px;
}