<div class="footer-box">
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <div class="footer-head">
                    <div class="row mb-2">
                        <div class="col-3 col-sm-4 col-lg-3">
                            <div class="footer-logo-container">
                                <a class="d-inline-block h-100 mw-100" routerLink="/">
                                    <img src="assets/images/footer-logo.png" alt="Sitaram">
                                </a>
                            </div>
                        </div>
                        <div class="col-4 col-sm-4 col-lg-6">
                            <div class="visitors-count">
                                
                            </div>
                        </div>
                        <div class="col-5 col-sm-4 col-lg-3">
                            <div class="social-links">
                                <ul class="social-icon-container">
                                    <li class="fb"> <i class="fab fa-facebook-square"></i> </li>
                                    <li class="twitter"> <i class="fab fa-twitter-square"></i> </li>
                                    <li class="insta"> <i class="fab fa-instagram"></i> </li>
                                    <li class="youtube"> <i class="fab fa-youtube"></i> </li>
                                </ul>
                                <span class="follow-us-text"> Follow us </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-text mt-3">
                    &copy;2022 Shree Godadiyabapa Ramwadi Aashram - All rights reserved | Official website of Ramwadi Karjan
                </div>  
            </div>
        </div>
    </div>
</div>