<div class="about-page py-3 py-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="about-title">
          {{ 'about.section1.title' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section1.value' | translate }}
        </div>
        <br />

        <div class="about-title">
          {{ 'about.section2.title' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section2.value' | translate }}
        </div>
        <br />

        <div class="about-title">
          {{ 'about.section3.title' | translate }}
        </div>
        <div class="about-description">
          {{ 'about.section3.value1' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section3.value2' | translate }}
        </div>
        <br />

        <div class="about-title">
          {{ 'about.section4.title' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section4.value' | translate }}
        </div>
        <br />

        <div class="about-title">
          {{ 'about.section5.title' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section5.value' | translate }}
        </div>
        <br />

        <div class="about-title">
          {{ 'about.section6.title' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section6.value' | translate }}
        </div>
        <br />

        <div class="about-title">
          {{ 'about.section7.title' | translate }}
        </div>
        <div class="about-description border-bottom border-dark py-3">
          {{ 'about.section7.value' | translate }}
        </div>
        <br />

        <div class="about-description">
          {{ 'about.general_text' | translate }}
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
