<div class="about-page py-3 py-lg-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="accordion" id="aboutAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse1"
                aria-expanded="true"
                aria-controls="collapse1"
              >
                {{ 'about.section1.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse1"
              class="accordion-collapse collapse show"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section1.value' | translate }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse2"
                aria-expanded="false"
                aria-controls="collapse2"
              >
                {{ 'about.section2.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse2"
              class="accordion-collapse collapse"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section2.value' | translate }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse3"
                aria-expanded="false"
                aria-controls="collapse3"
              >
                {{ 'about.section3.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse3"
              class="accordion-collapse collapse"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section3.value1' | translate }}<br />
                {{ 'about.section3.value2' | translate }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse4"
                aria-expanded="false"
                aria-controls="collapse4"
              >
                {{ 'about.section4.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse4"
              class="accordion-collapse collapse"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section4.value' | translate }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse5"
                aria-expanded="false"
                aria-controls="collapse5"
              >
                {{ 'about.section5.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse5"
              class="accordion-collapse collapse"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section5.value' | translate }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse6"
                aria-expanded="false"
                aria-controls="collapse6"
              >
                {{ 'about.section6.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse6"
              class="accordion-collapse collapse"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section6.value' | translate }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button about-title collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse7"
                aria-expanded="false"
                aria-controls="collapse7"
              >
                {{ 'about.section7.title' | translate }}
              </button>
            </h2>
            <div
              id="collapse7"
              class="accordion-collapse collapse"
              data-bs-parent="#aboutAccordion"
            >
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.section7.value' | translate }}
              </div>
            </div>
          </div>
          <!--
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button about-title collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGeneral" aria-expanded="false" aria-controls="collapseGeneral">
                {{ 'about.general_text_title' | translate }}
              </button>
            </h2>
            <div id="collapseGeneral" class="accordion-collapse collapse" data-bs-parent="#aboutAccordion">
              <div class="accordion-body about-description border-bottom py-3">
                {{ 'about.general_text' | translate }}
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
