<div class="contact-page py-3 py-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-box p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form-header">
                                <img src="assets/images/welcome-logo.png" class="center-img d-block" alt="Welcome to Ramwadi">
                                <div class="form-title"> Contact Form </div>
                                <img src="assets/images/welcome-logo-border.png" class="center-img d-block" alt="Logo border">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="contact-form-container">                         
                                <div class="form-description">
                                    For any feedback / changes you can fill up the below form
                                </div>
                                <form class="contact-form">
                                    <input type="text" id="devotee-name" name="devotee-name" placeholder="Your Name" title="Name">
                                    <input type="email" id="devotee-email" name="devotee-email" placeholder="Your Email" title="Email">
                                    <input type="tel" id="devotee-number" name="devotee-number" placeholder="Your Contact Number" title="Contact Number">
                                    <textarea id="devotee-address" name="devotee-address" placeholder="Your Address" title="Address"></textarea>
                                    <input type="text" id="contact-subject" name="contact-subject" placeholder="Subject" title="Subject">
                                    <textarea id="devotee-msg" name="devotee-msg" placeholder="Message" title="Message"></textarea>
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="location-container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>