.contact-page {
  background-image: linear-gradient(#424242, #424242),
    url(./../../assets/images/welcome-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
}

.contact-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(4px);
}

.center-img {
  margin: 10px auto;
}

.form-title {
  font-family: 'Karla Bold', sans-serif;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.form-description {
  font-family: 'Karla Bold', sans-serif;
  font-size: 20px;
  color: #e97000;
}

.contact-form input,
.contact-form textarea,
.contact-form .validation-error {
  font-family: 'Karla Medium', sans-serif;
  font-size: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Karla Regular', sans-serif;
  font-size: 15px;
}

#contact-form-submit {
  font-family: 'Karla Bold', sans-serif;
  font-size: 15px;
}

.contact-form input,
.contact-form textarea,
.google-capcha-container,
#contact-form-submit {
  width: 100%;
  margin-bottom: 8px;
  border: none;
  background-color: transparent;
}

.contact-form input {
  padding: 4px 0;
  border-bottom: 1px solid #424242;
}

.contact-form textarea,
#contact-form-submit {
  padding: 4px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  transition: 0.3s;
}

.contact-form textarea,
#contact-form-submit.enabled {
  border: 1px solid #424242;
}

#contact-form-submit.enabled:hover {
  color: white;
  background-color: #e97000;
  border: 1px solid transparent;
}

.temple-contact {
  font-family: 'Karla Medium', sans-serif;
  font-size: 16px;
}

.google-location {
  height: 350px;
  width: 100%;
}

input.ng-invalid.ng-touched,
input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-touched,
textarea.ng-invalid.ng-dirty {
  border-color: red;
  color: red;
}

.validation-error {
  font-style: italic;
  color: red;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .center-img {
    margin: 8px auto;
  }

  .form-title {
    font-size: 26px;
    line-height: 30px;
  }

  .form-description {
    font-size: 20px;
  }

  .temple-contact {
    font-size: 16px;
  }

  .contact-form input,
  .contact-form input::placeholder,
  .contact-form textarea,
  .contact-form textarea::placeholder,
  #contact-form-submit {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .center-img {
    margin: 8px auto;
  }

  .form-title {
    font-size: 24px;
    line-height: 28px;
  }

  .form-description {
    font-size: 18px;
  }

  .temple-contact {
    font-size: 15px;
  }

  .contact-form input,
  .contact-form input::placeholder,
  .contact-form textarea,
  .contact-form textarea::placeholder,
  #contact-form-submit {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .center-img {
    margin: 8px auto;
  }

  .form-title {
    font-size: 22px;
    line-height: 26px;
  }

  .form-description {
    font-size: 16px;
  }

  .temple-contact {
    font-size: 14px;
  }

  .contact-form input,
  .contact-form input::placeholder,
  .contact-form textarea,
  .contact-form textarea::placeholder,
  #contact-form-submit {
    font-size: 14px;
  }

  .google-location {
    height: 300px;
  }
}

@media (max-width: 575px) {
  .center-img {
    margin: 6px auto;
  }

  .form-title {
    font-size: 18px;
    line-height: 22px;
  }

  .form-description {
    font-size: 15px;
  }

  .temple-contact {
    font-size: 12px;
  }

  .contact-form input,
  .contact-form input::placeholder,
  .contact-form textarea,
  .contact-form textarea::placeholder,
  #contact-form-submit {
    font-size: 12px;
  }

  .google-location {
    height: 250px;
  }
}
