<div class="contact-page py-3 py-lg-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-box p-3">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form-header">
                                <img src="assets/images/welcome-logo.png" class="center-img d-block" alt="Welcome to Ramwadi">
                                <div class="form-title"> Contact Us </div>
                                <img src="assets/images/welcome-logo-border.png" class="center-img d-block" alt="Logo border">
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-5">
                            <div class="temple-contact">
                                <div class="form-description mb-2">
                                    Jay SiyaRam
                                </div>
                                <div class="temple-name">
                                    Shree Godadiyabapa Ramwadi Aashram
                                </div>
                                <div class="temple-address mb-2">
                                    P.O. Salangpur(Hanuman), Tal: Barwala, Botad, Gujarat, 382450.
                                </div>
                                <div class="contact-details">
                                    <strong> Mobile: </strong> 
                                    <a href="tel:9228231735" target="_blank"> +91 9228231735 </a> <br>
                                    
                                    <strong> Website: </strong> 
                                    <a href="https://www.google.com" target="_blank"> www.ramwadi.org </a> <br>
                                    
                                    <strong> Email: </strong> 
                                    <a href="mailto:blaab927@gmail.com" target="_blank"> ramwadikarjan@gmail.com </a>
                                </div>
                            </div>
                            <div class="location-container">

                            </div>
                        </div>
                        <div class="col-12 col-md-7 mt-4 mt-md-0">
                            <div class="contact-form-container">                         
                                <div class="form-description mb-2">
                                    For any feedback / changes you can fill up the below form
                                </div>
                                <form class="contact-form">
                                    <input type="text" id="devotee-name" name="devotee-name" placeholder="Your name" title="Your name" autocomplete="nope">
                                    <input type="email" id="devotee-email" name="devotee-email" placeholder="Email address" title="Email address" autocomplete="nope">
                                    <input type="tel" id="devotee-number" name="devotee-number" placeholder="Tel/Mobile/#" title="Tel/Mobile/#" autocomplete="nope">
                                    <input type="text" id="contact-subject" name="contact-subject" placeholder="Subject" title="Subject" autocomplete="nope">
                                    <textarea id="devotee-msg" name="devotee-msg" placeholder="Your Message" title="Your Message" rows="5" maxlength="2000"></textarea>
                                    <button id="contact-form-submit" type="submit"> SUBMIT </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <iframe class="google-location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4553.000272993211!2d73.1198014221882!3d22.04245447331073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395feb140fca6cf3%3A0x5bf357930d0eb23c!2sShree%20Premdasbapa%20Godadiya%20Ashram%20%7C%20Ramvadi!5e0!3m2!1sen!2sin!4v1653049873667!5m2!1sen!2sin" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>