<div class="body-box">
    <div class="img-slider-container">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <ng-container *ngFor="let item of imgSliderIterator; let i=index;">
                    <button type="button" 
                        data-bs-target="#carouselExampleIndicators" 
                        [attr.data-bs-slide-to]="i" 
                        [class.active]="item === 1" 
                        aria-current="true" 
                        [attr.aria-label]="'Slide' + ' ' + item"
                    >
                    </button>
                </ng-container>
            </div>
            <div class="carousel-inner">
                <ng-container *ngFor="let item of imgSliderIterator">
                    <div class="carousel-item" [class.active]="item === 1">
                        <img [src]="'assets/images/home/img-slider' + item + '.jpg'" class="d-block w-100" alt="...">
                    </div>
                </ng-container>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="welcome-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="welcome-to-ramwadi">
                        <div class="welcome-header">
                            <img src="assets/images/welcome-logo.png" class="d-block" alt="Welcome to Ramwadi">
                            <span class="welcome-title">
                                Welcome to 
                                <br>
                                Shree Godadiyabapa Ramwadi Aashram
                            </span>
                            <img src="assets/images/welcome-logo-border.png" class="d-block" alt="Logo border">
                        </div>
                        <div class="welcome-description">
                            This Hanumanji temple is considered most holy and sacred. It is among the 
                            more prominent ones in the Swaminarayan Sampraday. The image of Hanuman was 
                            installed by Sadguru  Gopalanand Swami on Ashwini vadi pancham - savant 1905 
                            (as per Hindu calandar). The image of this temple is said to be so powerful 
                            that a mere look at it by people affected by evil spirits,drives the evil 
                            spirits out of the people affected. Sarangpur is easily reached by bus or car, 
                            as it is only 82 km from Bhavnagar. There can be a long wait at the temple 
                            gate sometimes, mainly on Saturdays. 
                        </div>
                        <div class="know-more"> Know more </div>
                        <img src="assets/images/welcome-logo-border.png" class="d-block" alt="Logo border">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="quick-links">
        <div class="col-12 col-md-4 px-0">
            <div class="quick-links-card donation">
                <div class="card-image">
                    <img src="assets/images/donation-img.png" alt="Donate">
                </div>
                <div class="card-text">
                    <div class="card-title">
                        Online Donation
                    </div>
                    <div class="card-subtitle">
                        We are now accepting online donations
                    </div>
                </div>
                <div class="card-action">
                    <button type="button"> Go to Donation Page </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 px-0">
            <div class="quick-links-card annakshetra">
                <div class="card-image">
                    <img src="assets/images/annakshetra-img.png" alt="Donate">
                </div>
                <div class="card-text">
                    <div class="card-subtitle">
                        Shree Godadiyabapa Ramwadi Aashram
                    </div>
                    <div class="card-title">
                        Annakshetra
                    </div>
                </div>
                <div class="card-action">
                    <button type="button"> More Details </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 px-0">
            <div class="quick-links-card sundarkand">
                <div class="card-image">
                    <img src="assets/images/sundarkand-img.png" alt="Donate">
                </div>
                <div class="card-text">
                    <div class="card-subtitle">
                        Shree Godadiyabapa Yuvak Mandal
                    </div>
                    <div class="card-title">
                        Sundarkand Group 
                    </div>
                </div>
                <div class="card-action">
                    <button type="button"> Register Now </button>
                </div>
            </div>
        </div>
    </div>
</div>